			  
			  /************ Fonts *************/
			  @font-face {
			  font-family: 'Myriad';
			  src: url(fonts/Myriad.ttf);
			  }
			  
			  @font-face {
			  font-family: 'Changa';
			  src: url(fonts/Changa-Light.ttf);
			  }
			  
			  .cssload-container{
	display: block;
	margin:21px auto;
	margin-top:40px;
	width:42px;
}

.cssload-loading i{
	width: 21px;
	height: 21px;
	display: inline-block;
	background: rgb(255,89,84);
	border-radius: 50%;
}
.cssload-loading i:nth-child(1){
	animation:cssload-loading-ani1 0.7s ease-in-out infinite;
		-o-animation:cssload-loading-ani1 0.7s ease-in-out infinite;
		-ms-animation:cssload-loading-ani1 0.7s ease-in-out infinite;
		-webkit-animation:cssload-loading-ani1 0.7s ease-in-out infinite;
		-moz-animation:cssload-loading-ani1 0.7s ease-in-out infinite;

}
.cssload-loading i:nth-child(2){
	background: rgb(58,186,165);
	margin-left: -4px;
	animation:cssload-loading-ani1 0.7s ease-in-out 0.345s infinite;
		-o-animation:cssload-loading-ani1 0.7s ease-in-out 0.345s infinite;
		-ms-animation:cssload-loading-ani1 0.7s ease-in-out 0.345s infinite;
		-webkit-animation:cssload-loading-ani1 0.7s ease-in-out 0.345s infinite;
		-moz-animation:cssload-loading-ani1 0.7s ease-in-out 0.345s infinite;
}


@keyframes cssload-loading-ani1{
	70%{
		transform:scale(0.5);
	}
}

@-o-keyframes cssload-loading-ani1{
	70%{
		-o-transform:scale(0.5);
	}
}

@-ms-keyframes cssload-loading-ani1{
	70%{
		-ms-transform:scale(0.5);
	}
}

@-webkit-keyframes cssload-loading-ani1{
	70%{
		-webkit-transform:scale(0.5);
	}
}

@-moz-keyframes cssload-loading-ani1{
	70%{
		-moz-transform:scale(0.5);
	}
}
			  
			  
			  /************ Main *************/
			  *{
			  border:none; outline:none; border-spacing: 0px;  border-radius: 0; 
			  direction:rtl;
			  padding:0px; margin:0px;   
			  -webkit-appearance: none; -moz-appearance: none; appearance: none;
			  -webkit-tap-highlight-color: rgba(0,0,0,0);
			  font-family: Myriad; 
			  font-weight:100;
			  text-shadow: 0px 1px rgba(0,0,0,0.2);
 			  }
			  
			  a{ color: inherit; text-decoration: none;} 
			  
			  html{height:100%;}
			   img{ max-width: 250px; max-height:300px; background:#CCC;  }
			  body{
			  background: linear-gradient( 120deg,#fff, #fff);
			  -webkit-touch-callout: none;   -webkit-text-size-adjust: none;    -webkit-user-select: none; 
			  font-family: Myriad;
			  }
			  
			  .center{  display:table; position:relative; transform: translateY(-50%); top:50%;}
			  
			  
			  
			  
			  
			  /******** Main 2 ********/
			  
			 
			  
			  #master{
			  height: calc(100% - 1px ); width:100%;
			  position:fixed; top:0px; right:0px; 
			   
			  }
			  
			  #battery{ background: #fff; width:100%; height:20px; position:fixed; top:0px; left:0px; }
			  
			  .group{width:100%; height: calc( 100% - 2px); position: absolute;  top:0px; right:0px; display:none;   }
			  .page{ width:100%; height: calc( 100% - 3px);  position: absolute; top:0px; right:0px; opacity:0;   }
			  .first_group{ display: block; z-index:99; }
			  .first_page{ opacity:1; z-index:99;   }
 			  
			  #cover{  }
			  
			  .loading-body{ width:100%; height:100%; position: fixed;  top:0px; right:0px; z-index:505;   display: none; } 
			  .loading-box{
			   width:100px; height:100px; background-color:#FFF; 
			   position:absolute; top:calc(50% - 50px);right:calc(50% - 50px);
			   text-align:center; border-radius:20px;
			   opacity: 0; 
			   
			    }
			  .loading-box img{ height:70px; margin-top:15px;  } 
			  
			  
			 
			  
			  
			  
			  /************ Home *************/
			  
			  
			  #home{   
			  width: 100%; height:100%; 
			  position:fixed; top:0px; right:0px;
			  transform: scale(1,1) translate(0%,0%);
			  z-index:10;
			  }
			  
			   
			  
			  .main-list{
			  width:50%; height:25%; 
			  position:absolute; z-index:1; 
			  font-size:22px; color:#FFF; text-align:center;
			  display:table-cell;
			  vertical-align:middle;
			  ruby-align:center;
			  text-align:center;
			   
			  }
			  .main-list-content{ position:relative; transform: translateY(-50%); top:50%; }
			   
			  .main-list-icons{ font-size:45px; font-weight:100;}
			  .light-sun{ text-shadow: 0px 0px 30px #fff; }
			  
			  #main-list-logo{ width:220px; height:78px; background-image:url(../img/logo.png); background-size: 220px 78px; }
			  
			  
			  #button-list-articles{ background-color:#e74c3c; top:10px; right:0%; }
			  #button-list-versions{ background-color:#f39c12; top:10px; right:50%; }
			  #button-list-logo{ background-color:#e6ebec; top:25%; right:-50%; width:200%; }
			  #button-list-competent{ background-color:#0db392; top:50%; right:0%; }
			  #button-list-about{ background-color:#2ecc71; top:50%; right:50%; }
			  #button-list-ideas{ background-color:#1c2834; top:75%; right:-50%;  width:200%;}
			  
			  
		 	  /************  lists *************/
			 
			 
			 .content_title_lists_box{width:100%; height:75px; background-color:#FFF; position:fixed; top:-500px; opacity:0;  }
			 .content_title_lists_word{ font-size:30px;100; color:#FF6657}
			 
			 .body_content_lists{
			  width:100%; height:calc(100% - 140px ); 
			  position:absolute; top:75px; opacity:0;
			  overflow-y: scroll;  -webkit-overflow-scrolling: touch;    
			  }
			 .content_lists{
			  width:90%; height:100px; text-align:center;
			  color:#FFF; font-size:20px; 
			  border-bottom:1px dashed rgba(255,255,255,0.4);
 			   }
			 .content_lists tr td{ }
			 
			 .content_lists_icon{font-size:30px; }
			 
			
			 
			  #back-group-box{
			  width:100%; height:75px;
			  direction:ltr;
			  opacity:0.98;
			  position:fixed; bottom:0px; right:-100%;
			   
			  
			  }
			  #back-group-button{color:#FFF; font-size:45px; margin-left:10px;}
			  
			  
			  /********* show articles **********/
			  .articles_info_box{
			   width:100%; height:120px;
			   position:fixed; top:-180px; z-index:3;
			   background-color: #e74c3c;
			   color:#FFF; 
			   }
			   .articles_info_title{ font-size:18px; }
			   .articles_info_back{ font-size:35px; font-weight:900; }
			   .articles_info_box td{ padding-right: 15px; padding-left: 15px;}
			   
			   .articles_fullcontent_body{
			   width:90%; height:calc(100% - 190px); overflow-x: hidden  ;  overflow-y: scroll;  -webkit-overflow-scrolling: touch;
			   padding:5%; direction:ltr;   
			   position:absolute; top:150px;  text-align:center;
			   text-align:justify ; font-size:19px;
			   opacity:0; z-index:2;
			   background: #FFF;
			   }
			   .articles_fullcontent{
			   text-align: justify;
			   width:90%;
			   direction:ltr;
			   padding:10px;
			   position:absolute; left:0px;
			   }
			  
 			  
			  
			  
			  /************ about *************/
			  .body_content_lists_about{
			  width:100%; height:calc(100% - 140px ); 
			  position:absolute; top:75px;  
			  overflow-y: scroll;  -webkit-overflow-scrolling: touch; 
			  opacity:0;
			  } 
			  #about_logo{ width:255px; height:105px; background-image:  url(../img/about_logo.png); background-size:255px 105px; }
			  .about_line{ width:100%; height:1px; border-bottom: 1px dashed rgba(255,255,255,0.5); margin-top:15px; margin-bottom:15px;}
			  #about_content{ width:80%;   color:#FFF; font-family:'Changa'; font-size:18px; text-align:justify; }
			  .secial-icons{ font-size:27px; margin:10px;}
			  #jasr_logo{width:160px; height:82px; background-image:url(../img/jasr_logo.png); background-size:160px 82px;}
			  
			  
			  
			  /************ ideas *************/
			 .ideas_lists{
			  width:90%; height:100px; text-align:center;
			  color:#FFF; font-size:20px; 
			  }
			  .ideas_content{ margin-bottom:150px;}
			  .ideas_title{ font-size:25px; color: #FC0; display:block;}
			  .ideas_text{ font-size:17px; text-align:justify; }
			  .ideas_line{
			   width:90%; height:1px; 
			   background: #1e2f3f; border-bottom:1px solid #15202a; 
			   margin-top:10px; margin-bottom:10px; }
			   

			  
			   


			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  