




<center>

<div class="animated content_title_lists_box"> <div class="center"> <h1 class="content_title_lists_word"> عن التطبيق </h1> </div> </div>


<div class="animated body_content_lists_about">


<div id="about_logo"></div>



<div id="about_content">
<div class="about_line"></div>
 
من نحن؟
<br>
نحن فريق أفكار العلاج الطبيعي، فريق تطوّعي انشيء للسعي بالنهوض بتخصص العلاج الطبيعي من كافة النواحي ما يتعلق بالطلاب , المتدرب , الموظف ثم المجتمع .

 

<div class="about_line"></div>

 
هدفنا:
<br>
خلق فرصة لللأبداع و كسر كلاسكية عرض المعلومات أو طرق التوعية التقليدية .

 

<div class="about_line"></div>


 
إنجازاتنا:
<br>
- أثرينا المحتوى العربي بحملات دورية للتعرف على تخصص العلاج الطبيعي
<br>
- أنشأنا منصات للنقاش وتبادل المعلومات بين المتخصصين في المجال
<br>
- أنشأنا أكثر من اثناعشر كتيب إلكتروني
<br>
- أنشأنا أكثر من 100 مقال توعوي في المجال
<br>
- وصلت رسالتنا إلى أكثر من عشرة آلاف متابع على منصاتنا الاجتماعية
 



<center>

 <div class="about_line"></div>
 <br>
<a href="https://www.youtube.com/watch?v=RD7QsPMYP-c"  ><span class="secial-icons socicon-youtube"></span></a>
<a href="https://twitter.com/ptideas1" ><span class="secial-icons socicon-twitter"></span></a>
<a href="https://instagram.com/ptideas" ><span class="secial-icons socicon-instagram"></span></a>
<a href="https://plus.google.com/u/0/+ptideas/" ><span class="secial-icons socicon-googleplus"></span></a>
<a href="https://www.facebook.com/PTideas/"  ><span class="secial-icons socicon-facebook"></span></a>
 
 
 <div class="about_line"></div>
 <a href="https://Jasr.Team" >
 
<div id="jasr_logo"></div>
 
التطبيق من تطوير ودعم فريق جَسر
© 
</a>

</center>




 

</div>
</div>

</center>