 
<table class="articles_info_box" >
  <tr>
    <td class="articles_info_title_box" colspan="2">
    
    
    <span class="change_page articles_info_back lnr  lnr-chevron-up" data-page_id="articles_list"></span>
    <br>
    <span class="articles_info_title" >  </span>
    </td>
  </tr>
  
  <tr height="50">
    <td align="right" >
    
     <span class=" ti ti-Line-Clock-2 "></span> 
     <span class="articles_info_date" >  </span>

      </td>
    <td  align="left">
     <span class="articles_info_user" >   </span>
    </td>
  </tr>
</table>


<center>
<div class="articles_fullcontent">

</div>
</center>