<center>
<div class="content_title_lists_box ideas_content"> <div class="center"> <h1 class="content_title_lists_word"> خلاصة الأفكار </h1> </div> </div>


<br><br><br><br><br><br><br>
<table class="ideas_lists">
  <tr>
    <td align="right" width="80%">
    <span class="ideas_title">انتبه</span>
    <span class="ideas_text">     فقدان التوازن ودور العلاج الطبيعي في تأهيل المصابين به - الأخصائية هنا </span>    
    </td>
      </tr>
</table>

<div class="ideas_line"></div>

<table class="ideas_lists">
  <tr>
    <td align="right" width="80%">
    <span class="ideas_title">انتبه</span>
    <span class="ideas_text">     فقدان التوازن ودور العلاج الطبيعي في تأهيل المصابين به - الأخصائية هنا </span>    
    </td>
      </tr>
</table>

<div class="ideas_line"></div>


<table class="ideas_lists">
  <tr>
    <td align="right" width="80%">
    <span class="ideas_title">انتبه</span>
    <span class="ideas_text">     فقدان التوازن ودور العلاج الطبيعي في تأهيل المصابين به - الأخصائية هنا </span>    
    </td>
      </tr>
</table>

<div class="ideas_line"></div>


<table class="ideas_lists">
  <tr>
    <td align="right" width="80%">
    <span class="ideas_title">انتبه</span>
    <span class="ideas_text">     فقدان التوازن ودور العلاج الطبيعي في تأهيل المصابين به - الأخصائية هنا </span>    
    </td>
      </tr>
</table>

<div class="ideas_line"></div>





</center>
<br><br><br><br><br><br><br><br>