
              
              <!---------- Home --------->
              <div id="home">
              
              <!----- الموضوعات ----->
              <div class="change_group main-list"  data-group_id="articles" data-groupType="items" id="button-list-articles">
              
              <div class="main-list-content">
              <div class="main-list-icons ti-Line-Box-2"></div>
              <span class="title-button-list"> الموضوعات </span>
              
              </div>
              </div>
              
              
              <!----- الإصدارات ----->
              <div class="change_group main-list"  data-group_id="articles" data-groupType="versions"  id="button-list-versions">
              
              <div class="main-list-content">
              <div class="main-list-icons ti-Line-Gallery-3"></div>
              <span class="title-button-list"> الإصدارات </span>
              
              </div>
              </div>
              
              <!-----  Logo - أفكار تعطي حياة ----->
              <div  class="change_group main-list"  data-group_id="about"  data-groupType="about"      id="button-list-logo">
              
              <div class="main-list-content" align="center">
              <div  id="main-list-logo" ></div>
              </div>
              </div>
              
              <!----- للمختصين ----->
              <div class="change_group main-list"  data-group_id="articles"  data-groupType="competent"   id="button-list-competent">
              
              <div class="main-list-content">
              <div class="main-list-icons ti-Line-People-1"></div>
              <span class="title-button-list"> للمختصين </span>
              
              </div>
              </div>
              
              <!----- عن التطبيق ----->
              <div class="change_group main-list"  data-group_id="about"  data-groupType="about"   id="button-list-about">
              
              <div class="main-list-content">
              <div class="main-list-icons ti-Line-Smartphone-2"></div>
              <span class="title-button-list"> عن التطبيق </span>
              
              </div>
              </div>
              
              <!----- هنا خلاصة الأفكار ----->
              <div class="change_group main-list"  data-group_id="ideas"  data-groupType="ideas"   id="button-list-ideas">
              
              <div class="main-list-content">
              <div class="main-list-icons ti-Line-Sun  light-sun"></div>
              <span class="title-button-list">  خلاصة الأفكار </span>
              
              </div>
              </div>
              
 
               
             
              
              </div> <!---------- End Home --------->
              